# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.env/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store

# Home Assistant
*.db
*.log
